[Unit]
Description=iot_mgm_client
After=network.target
StartLimitIntervalSec=3

[Service]
Type=simple
User=torno             
WorkingDirectory=/home/user
Environment=PATH=/home/user/iot_mgm_client:$PATH
ExecStart=/usr/bin/python3 /home/user/iot_mgm_client/src/client.py   
EnvironmentFile=/home/torno/iot_mgm_client/.env
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

